.navbar{
    background-color: #d1a958;
    font-family: 'Source Sans Pro', sans-serif;
}
.n1{
    margin-left: 100px;
    padding-top: 75px;
}
.h{
    color:whitesmoke;
    margin:20px;
}
h3{
    color:black;
    margin-left:400px;
    margin-top:50px;
}
h1{
    color:black;
    margin-left:400px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.i1{
    margin-left: 800px;
}
.i2{
    margin-left:250px;
    margin-bottom: 150px;
    margin-top: -200px;
}
.i3{
    margin-left: 250px;
    margin-top: -150px;
}
.d1{
    margin-right: 850px;
    font-family: 'Frank Ruhl Libre', serif;
}
.d2{
    margin-right: 700px;
    margin-top: -100px;
    font-family: 'Frank Ruhl Libre', serif;
}
.d3{
    padding-bottom: 400px;
    font-family: 'Frank Ruhl Libre', serif;
}
.d4{
    font-family: 'Frank Ruhl Libre', serif;
}
.d5{
    font-family: 'Frank Ruhl Libre', serif;
}
.d6{
    font-family: 'Frank Ruhl Libre', serif;
}
.i4{
    margin-left: 50px;
    margin-bottom: -60px;
}
.i10{
    margin-left: 420px;
    margin-top: -593px;
}
.i11{
    margin-bottom: -50px;
}
.i12{
    margin-bottom: -50px;
}
h2{
    margin-left: 650px;
}
.do{
    margin-left: 100px;
    line-height: 5;
}
.dont{
    margin-left: 900px;
    margin-top: -1215px;
    line-height: 4.3;
}

.Symptoms{
    background-color: #d4d3cf;
    color:black;
    padding-top: 50px;
}

.s1{
    margin-left: 600px;
    color:black;
}

.t1{
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.i5{
    margin-left: 900px;
    margin-top: -600px;
}
.i6{
    margin-left: 900px;
    padding-bottom: 85px;
}

.doctor{
    background-color: #b6b8cc;
    padding-top: 30px;
}
.video1{
    color:black;
    margin-left: 600px;
    font-family: 'Oswald', sans-serif;
}

.video2{
    color:black;
    font-family: 'Cinzel', serif;
    font-family: 'Dongle', sans-serif;
}

.video3{
    margin-left: 530px;
    margin-top:110px;
    padding-bottom: 100px;
}

.f1{
    margin-left: 600px;
}
.f3{
    line-height: 1.6;
}

.f4{
    line-height:1.6;
}
.a1{
    font-family: 'Dongle', sans-serif;
}
.a2{
    font-family: 'Dongle', sans-serif;
}
.a3{
    padding-bottom: 40px;
    font-family: 'Dongle', sans-serif;
}

.footer{
    background-color:#ebeacc;
    color:black;
    padding-top: 60px;
    font-family: 'Noto Serif', serif;
}

.fo1{
    margin-left: 400px;
}

.fo2{
    margin-left: 400px;
    line-height: 2.9;
}
































